@use "variables" as *;
@use "breakpoints" as *;

/* Animaciones */
/* Base para ambas tarjetas */

.bg-auth {

    background-color: rgba($primary, 0.95);

    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .data-logo {
        height: 100%;
        max-width: 600px;
    }
}

.auth-wrapper {
    width: 100%;
    img {
        width: 80%;
    }
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*BREAKPOINTS*/
@include xs {
    .bg-auth {
        display: none;
    }

    .form-section {
        width: 100% !important;
    }

    .auth-wrapper {
        max-width: 95%;

        img {
            width: 75%;
        }
    }
}

@include sm {
    .bg-auth {
        display: none;
    }

    .form-section {
        width: 100% !important;
    }

    .auth-wrapper {
        max-width: 90%;
    }
}

@include md {
    .bg-auth {
        display: none;
    }

    .form-section {
        width: 100% !important;
    }

    .auth-wrapper {
        max-width: 80%;
    }
}

@include lg {
    .bg-auth {
        display: flex;

        .data-logo {
            max-width: 500px;
        }
    }

    .auth-wrapper {
        max-width: 450px;
    }
}

@include xl {
    .bg-auth {
        display: flex;
    }

    .auth-wrapper {
        max-width: 600px;
    }
}