@use "variables" as *;
@use "breakpoints" as *;

/* Animaciones */
/* Base para ambas tarjetas */

.bg-auth {
    background-image: url("/assets/sun-tornado.svg");
    background-color: var(--mat-sys-primary);

    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .data-logo {
        bottom: 0;
        width: 80%;
        max-width: 700px;
        margin-bottom: 2rem;
        // height: 100%;
    }

    .shapes {
        width: 80%;
        margin-top: 3rem;
    }
}

.auth-wrapper {
    width: 100%;
}

.form-section {
    img {
        margin-bottom: 14rem;
    }
}

@include xs {
    .bg-auth {
        // padding-bottom: 8rem;
        display: none;
    }
    .auth-wrapper {
        max-width: 95%;
    }
}

@include sm {
    .bg-auth {
        // padding-bottom: 8rem;
        display: none;
    }
    .auth-wrapper {
        max-width: 90%;
    }
}

@include md {
    .bg-auth {
        display: none;
    }

    .auth-wrapper {
        max-width: 80%;
    }
}

@include lg {
    .bg-auth {
        // padding-bottom: 8rem;
        display: flex;
    }
    .auth-wrapper {
        max-width: 450px;
    }
}

@include xl {
    .bg-auth {
        // padding-bottom: 8rem;
        display: flex;
    }
    .auth-wrapper {
        max-width: 600px;
    }
}
