<h2 style="font-weight: 600;" mat-dialog-title>Crea tu empresa</h2>
<mat-dialog-content class="mat-typography py-4">

    <form [formGroup]="form" action="">
        <mat-slide-toggle formControlName="haveCompany" (change)="changeHaveCompany()" class="mb-3">
            {{haveCompany() ? 'Tengo empresa': 'No tengo empresa'}}
        </mat-slide-toggle>
        @if (haveCompany()) {
        <mat-form-field class="w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput type="text">
            <!-- @if (hasError('email', 'email')) {
            <mat-error>Por favor, ingresa un correo electrónico valido.</mat-error>
            } @else if (hasError('email', 'required')) {
            <mat-error>Por favor, ingresa un correo electrónico.</mat-error>
            } -->
        </mat-form-field>
        } @else {
        <p class="info-text">
            Si no tienes empresa, puedes dejar desmarcada la opción, aunque en cualquier momento puedes
            modificarla.
            Agregar una empresa te permite agregar más usuarios en el futuro, pero no es obligatorio.
        </p>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancelar</button>
    <button matButton="filled" [mat-dialog-close]="true" cdkFocusInitial outlined>
        <mat-icon>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>