<h2 style="font-weight: 600;" mat-dialog-title>Crea tu empresa</h2>
<mat-dialog-content class="mat-typography py-2">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">

        <mat-slide-toggle formControlName="haveCompany" class="mb-3" >
            {{haveCompany() ? 'Tengo empresa': 'No tengo empresa'}}
        </mat-slide-toggle>
        <mat-form-field class="name-input w-100 mb-1">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" placeholder="Mi empresa SA de CV" matInput type="text">

            @if (hasError('name', 'required')) {
            <mat-error>Por favor, ingresa el nombre de tu empresa.</mat-error>
            } @else if (hasError('name', 'pattern')) {
            <mat-error> Por favor, ingresa un nombre válido.</mat-error>
            }
        </mat-form-field>

        @if (!haveCompany()) {
        <p class="info-text">
            Si no tienes empresa, puedes dejar desmarcada la opción, aunque en cualquier momento puedes
            modificarla.
            Agregar una empresa te permite agregar más usuarios en el futuro, pero no es obligatorio.
        </p>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton="filled" type="submit" form="form" [disabled]="!formValid()">
        <mat-icon outlined>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>