@if (emptyForm()) {
  <div class="empty-state d-flex align-items-center justify-content-center">
    <div class="empty-state__content">
      <img src="./assets/images/no-data.svg" alt="No hay datos" class="empty-state__image mb-3" />

      <h2 class="empty-state__title mb-4">No hay datos para mostrar</h2>

      <p class="empty-state__description mb-5">
        <span class="mb-2" style="display: block"
          >Aún no has registrado tus <span class="fw-bold">datos fiscales</span>.</span
        >
        <span class="fst-italic">Completa el formulario para ver el resumen.</span>
      </p>
      <button
        routerLink="/dashboard/datos-fiscales/nuevo"
        class="empty-state__button"
        matButton="filled"
      >
        <mat-icon>arrow_forward</mat-icon> Ir al formulario
      </button>
    </div>
  </div>
} @else {
  <div class="container d-flex align-items-center flex-column">
    <div class="resume-header">
      <h2 class="text-center resume-title">Datos fiscales listos para guardar</h2>
      <p class="text-center resume-description mb-4">Revisa la información antes de continuar</p>
    </div>
    <mat-card class="resume-card">
      <!-- general data -->
      <div class="resume-section">
        <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>overview</mat-icon>
            <span>Datos generales</span>
          </div>
          <button matButton="outlined">Editar</button>
        </div>

        <div class="resume-section-content">
          <p><strong>Alias:</strong> {{taxData.general.alias ??  'No registrado'  }}</p>
          <p><strong>Tipo de persona:</strong> {{taxData.general.personType}}</p>
          <p><strong>RFC:</strong> {{taxData.general.rfc}}</p>
          <p><strong>Nombre:</strong> {{taxData.general.legalName}}</p>
          @if (isNaturalPerson()) {
            <p><strong>CURP:</strong> {{taxData.general.curp ??  'No registrado'  }}</p>
          }
          <p><strong>Régimen fiscal:</strong> 605 - Sueldos y Salarios</p>
        </div>
      </div>

      <!-- contact -->
      <div class="resume-section">
        <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>call_log</mat-icon>
            <span>Contacto de facturación</span>
          </div>
          <button matButton="outlined">Editar</button>
        </div>

        <div class="resume-section-content">
          <p><strong>Email:</strong> ejemplo@gmail.com</p>
          <p><strong>Teléfono:</strong> 4498896523</p>
        </div>
      </div>

      <!-- address -->
      <div class="resume-section">
         <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>home_pin</mat-icon>
            <span>Dirección fiscal</span>
          </div>
          <button matButton="outlined">Editar</button>
        </div>

        <div class="resume-section-content">
          <p>Av. Reforma 123</p>
          <p>Col. Centro</p>
          <p>CP 20000, Aguascalientes, AGS</p>
        </div>
      </div>

      <div class="resume-actions d-flex justify-content-end">
        <button matButton="outlined">Volver a editar</button>
        <button matButton="filled">Guardar y confirmar</button>
      </div>
    </mat-card>
  </div>
}
