@if (emptyForm()) {
  <div class="empty-state d-flex align-items-center justify-content-center">
    <div class="empty-state__content">
      <img src="./assets/images/no-data.svg" alt="No hay datos" class="empty-state__image mb-3" />

      <h2 class="empty-state__title mb-4">No hay datos para mostrar</h2>

      <p class="empty-state__description mb-5">
        <span class="mb-2" style="display: block"
          >Aún no has registrado tus <span class="fw-bold">datos fiscales</span>.</span
        >
        <span class="fst-italic">Completa el formulario para ver el resumen.</span>
      </p>
      <button
        routerLink="/dashboard/datos-fiscales/nuevo"
        class="empty-state__button"
        matButton="filled"
      >
        <mat-icon>arrow_forward</mat-icon> Ir al formulario
      </button>
    </div>
  </div>
} @else {
  <div class="container d-flex align-items-center flex-column">
    <div class="resume-header">
      <h2 class="text-center resume-title">Datos fiscales listos para guardar</h2>
      <p class="text-center resume-description mb-4">Revisa la información antes de continuar</p>
    </div>
    <mat-card class="resume-card">
      <!-- general data -->
      <div class="resume-section">
        <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>overview</mat-icon>
            <span>Datos generales</span>
          </div>
          <button
            [routerLink]="['/dashboard/datos-fiscales/nuevo']"
            [queryParams]="{ step: TaxDataStep.GENERAL }"
            matButton="outlined"
          >
            Editar
          </button>
        </div>

        <div class="resume-section-content">
          <p><strong>Alias:</strong> {{ taxData.general.alias ?? 'No registrado' }}</p>
          <p><strong>Tipo de persona:</strong> {{ taxData.general.personType | personTypeLabel }}</p>
          <p><strong>RFC:</strong> {{ taxData.general.rfc }}</p>
          <p>
            <strong>{{ isNaturalPerson() ? 'Nombre del contribuyente' : 'Razón social' }}:</strong>
            {{ taxData.general.legalName }}
          </p>
          @if (isNaturalPerson()) {
            <p><strong>CURP:</strong> {{ taxData.general.curp ?? 'No registrado' }}</p>
          }
          <p>
            <strong>Régimen fiscal:</strong> {{ taxData.general.taxRegimeText?.key }} -
            {{ taxData.general.taxRegimeText?.description }}
          </p>
        </div>
      </div>

      <!-- contact -->
      <div class="resume-section">
        <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>call_log</mat-icon>
            <span>Contacto de facturación</span>
          </div>
          <button
            [routerLink]="['/dashboard/datos-fiscales/nuevo']"
            [queryParams]="{ step: TaxDataStep.CONTACT }"
            matButton="outlined"
          >
            Editar
          </button>
        </div>

        <div class="resume-section-content">
          <p><strong>Email:</strong> {{ taxData.contactEmail }}</p>
          <p><strong>Teléfono:</strong> {{ taxData.contactPhone }}</p>
        </div>
      </div>

      <!-- address -->
      <div class="resume-section">
        <div class="resume-section-header">
          <div class="resume-section-title">
            <mat-icon outlined>home_pin</mat-icon>
            <span>Dirección fiscal</span>
          </div>
          <button
            [routerLink]="['/dashboard/datos-fiscales/nuevo']"
            [queryParams]="{ step: TaxDataStep.ADDRESS }"
            matButton="outlined"
          >
            Editar
          </button>
        </div>

        <div class="resume-section-content">
          <p class="address">{{ taxData.addressFirstLine }}</p>
          <p class="address">{{ taxData.addressSecondLine }}</p>
          <p class="address">{{ taxData.addressThirdLine }}</p>
          <p class="address">{{ taxData.addressFourLine }}</p>
        </div>
      </div>

      <div class="resume-actions d-flex justify-content-end">
        <button routerLink="/dashboard/datos-fiscales/nuevo" matButton="outlined">
          Volver a editar
        </button>
        <button (click)="saveTaxData()" matButton="filled">Guardar y confirmar</button>
      </div>
    </mat-card>
  </div>
}
