<mat-sidenav-container class="main-container" autosize>

    <mat-sidenav #sidenav mode="side" opened class="main-sidenav" [class.collapsed]="isCollapsed">
        <div class="sidenav-content">
            <div class="sidebar-header mt-2">
                @if (isCollapsed) {
                <img class="ms-1 mini-icon" width="50px" height="50px" src="./assets/white-icon.png" alt="">



                } @else {
                <img class="logo" width="auto" height="50px" src="./assets/white-logo.png" alt="">
                }
            </div>

            <mat-list class="menu-list mt-2" role="menu" [class.collapsed]="isCollapsed">
                @for (item of menuItems; track $index) {
                <mat-list-item class="my-1" role="listitem">
                    <mat-icon class="material-symbols-outlined" matListItemIcon>{{item.icon}}</mat-icon>
                    @if (!isCollapsed) {
                    <div class="menu-item-text" matListItemTitle>{{item.label}}</div>
                    }
                </mat-list-item>
                }
            </mat-list>

            <mat-list class="logout-section">
                <mat-list-item class="my-2" role="listitem">
                    <mat-icon class="material-symbols-outlined" matListItemIcon>logout</mat-icon>
                    @if (!isCollapsed) {
                    <div class="menu-item-text" matListItemTitle>Cerrar sesión</div>
                    }
                </mat-list-item>
                <!-- 
            <button matIconButton class="logout-btn">
                <mat-icon class="material-symbols-outlined">logout</mat-icon>
                @if (!isCollapsed) {
                <span>Cerrar sesión</span>
                }
            </button> -->
            </mat-list>
        </div>

        <!-- <span class="mt-5"> hasta abajo el perfil y cerrar sesión</span> -->
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <mat-toolbar class="main-toolbar d-flex justify-content-between align-items-center">
            <button matIconButton (click)="toggleSidebar()">
                <mat-icon class="material-symbols-outlined">{{ isCollapsed ? 'chevron_right' : 'chevron_left'
                    }}</mat-icon>
            </button>

            <div>
                <button matIconButton (click)="toggleSidebar()">
                    <mat-icon class="material-symbols-outlined">notifications</mat-icon>
                </button>
                <button matIconButton (click)="toggleSidebar()">
                    <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-12">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>