<mat-sidenav-container class="main-container" autosize>

    <mat-sidenav #sidenav mode="side" opened class="main-sidenav" [class.collapsed]="isCollapsed()">
        <div class="sidenav-content">
            <div class="sidebar-header">
                @if (isCollapsed()) {
                <div class="mini-icon-content w-100 d-flex justify-content-center align-items-center">
                    <img class="mini-icon" src="./assets/logos/dashboard-mini-logo.svg" alt="">
                </div>
                } @else {
                <div class="logo-content w-100 d-flex justify-content-center align-items-center">
                    <img class="logo" src="./assets/logos/dashboard-white-logo.svg" alt="">

                </div>
                }
            </div>

            <mat-list class="menu-list mt-2" role="menu" [class.collapsed]="isCollapsed()">
                @for (item of menuItems; track $index) {
                <mat-list-item role="listitem">
                    <mat-icon class="material-symbols-outlined" matListItemIcon>{{item.icon}}</mat-icon>
                    @if (!isCollapsed()) {
                    <div class="menu-item-text" matListItemTitle>{{item.label}}</div>
                    }
                </mat-list-item>
                }
            </mat-list>

            <div class="logout-section w-100" [class.collapsed]="isCollapsed()">
                <button class="mb-1" (click)="toggleSidebar()" matIconButton>
                    <mat-icon class="material-symbols-outlined">{{isCollapsed() ? 'right_panel_close' :
                        'right_panel_open'}}</mat-icon>
                </button>

            </div>
        </div>


    </mat-sidenav>


    <mat-sidenav-content #sidenavContainer class="main-content">

        <app-header [hasScrolled]="hasScrolled()" [isCollapsed]="isCollapsed()"
            (toggleSidebar)="toggleSidebar()"></app-header>

        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-12">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-12">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-12">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-2">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-12">
                    <mat-card class="login-card">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facilis molestias tempore
                        doloremque unde, minus fugit eaque dolore ratione maiores officiis laudantium consequuntur
                        explicabo aliquam voluptatem deserunt. Minus, impedit. Nostrum!
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
@if (hasScrolled()) {
<button [class.collapsed]="isCollapsed()" class="to-top-button me-1 mb-1" (click)="backToTop()" matIconButton>
    <mat-icon class="material-symbols-outlined">keyboard_arrow_up</mat-icon>
</button>
}