@use "variables" as *;

.main-container {
    background-color: $white;
    width: 100vw;
    height: 100vh;
}

.main-content {
    background: rgba($medium-gray, 0.25);
    backdrop-filter: $cards-backdrop-blur;
    -webkit-backdrop-filter: $cards-backdrop-blur;
    width: auto;
}

.mini-icon {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.1s ease;
    }
}

/**************** SIDENAV ******************/
mat-sidenav.main-sidenav {
    background: var(--mat-sys-primary);
    border-radius: 0px;
    width: 250px;
    padding: 0 1rem;

    &.collapsed {
        width: 60px;
        padding: 0 0;
        mat-list-item {
            border-radius: 0px;
        }
    }
    .sidenav-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        .sidebar-header {
            .logo {
                cursor: pointer;
            }
        }
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.menu-list {
    mat-list-item {
        cursor: pointer;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        transition: background 0.3s ease;

        .menu-item-text,
        mat-icon {
            color: $white;
            transition: color 0.1s ease;
        }

        &:hover {
            background: $light-gray;

            .menu-item-text,
            mat-icon {
                color: var(--mat-sys-primary);
            }
        }
    }
}

.logout-section {
    position: relative;
    margin-top: auto;

    button {
        background-color: var(--mat-sys-primary);
        color: $white;
    }
    &.collapsed {
        display: flex;
        justify-content: center;
    }
}
/********* FIN SIDENAV **********/

/***** BOTON SUBIR *****/
.to-top-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin-left: 230px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50% !important;
    &.collapsed {
        margin-left: 62px;
    }
}
/*** FIN BOTON SUBIR *****/
/*ELIMINAR SOLO EJEMPLO*/
.login-card {
    padding: 2rem;
    border-radius: $cards-border-radius;
    background: $cards-background; /* fondo semi-transparente */
    backdrop-filter: $cards-backdrop-blur; /* desenfoque del fondo */
    -webkit-backdrop-filter: $cards-backdrop-blur; /* soporte Safari */
    border: $cards-border; /* borde tenue */
    box-shadow: $cards-shadow; /* sombra suave */
}
