@use '/animations/fade-slide-scale-in.animation' as *;
@use 'variables' as *;

.card-data-header {
  padding: 16px 16px;
}

.alias {
  font-weight: 700;
  color: $dark-gray-500;
}

.details {
  font-size: 14px;
  color: $dark-gray-200;
  font-weight: 500;
}

.empty-search-bar {
  background: rgba($medium-gray, 0.25);
  border-radius: 20px;
  border: none;
}

.default-icon {
  color: $primary;
  font-size: 20px;
  height: 20px;
  width: 20px;
  font-weight: 900;
}