<h2 mat-dialog-title>Crear contacto</h2>
<mat-dialog-content class="py-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
        <mat-form-field class="w-100 mb-2">
            <mat-label>Correo electrónico</mat-label>
            <input formControlName="email" type="email" placeholder="ejemplo@dominio.com" matInput>
            @if (hasError('email', 'email')) {
            <mat-error>Por favor, ingresa un correo electrónico valido.</mat-error>
            } @else if (hasError('email', 'required')) {
            <mat-error>Por favor, ingresa un correo electrónico.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Teléfono</mat-label>
            <input formControlName="phone" type="text" phoneMask matInput>
            @if (hasError('phone', 'required')) {
            <mat-error>Por favor, ingresa un teléfono celular.</mat-error>
            } @else if (hasError('phone', 'minlength')) {
                <mat-error>Por favor, ingresa 10 dígitos.</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between align-items-center">
    <button matButton mat-dialog-close>Cerrar</button>
    <button matButton="filled" type="submit" form="form" [disabled]="!formValid()">
        <mat-icon outlined>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>