@use "@angular/material" as mat;
@use "./buttons";
@use "./inputs";
@use "./variables";

/****************************** LIGHT THEME ******************************/
html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$green-palette,
      typography: Roboto,
      density: 0
    )
  );
  //Color de texto personalizado
  --mat-sys-on-surface: #363636 !important;
}

/****************************** DARK THEME ******************************/
.dark-theme {
  color-scheme: light dark;
}
