@use "@angular/material" as mat;
@use "./buttons" as buttons;
@use "./menus" as menus;
@use "./inputs";

/****************************** LIGHT THEME ******************************/
// $my-custom-level: mat.m2-define-typography-level(
//   $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal
// );
html {
  color-scheme: light;
  @include mat.theme((color: mat.$green-palette,
      typography: "Open Sans",
      density: 0));
  //Color de texto personalizado
  --mat-sys-on-surface: #363636 !important;
  @include buttons.general-buttons;
  @include menus.general-menus;

}

/****************************** DARK THEME ******************************/
// .dark-theme {
//   color-scheme: light dark;
// }