@use "variables" as *;

@mixin general-dialogs {
    .mat-mdc-dialog-surface {
          box-shadow: $cards-shadow;
        border: $cards-border;
        border-radius: $cards-border-radius;

        border-radius: $cards-border-radius !important;
    }
}