@use "variables" as *;

@mixin general-selects {
    .mat-mdc-select {
        font-size: var(--mat-select-trigger-text-size);
    }

    .mat-mdc-select-panel {
        backdrop-filter: blur(20px) !important;
        -webkit-backdrop-filter: blur(20px) !important;

        background-color: rgba(255, 255, 255, 0.5) !important;
        border-radius: 8px !important;
        box-shadow: $cards-shadow !important;

        .mat-mdc-menu-item {
            border-radius: 0px !important;
        }

        .mat-mdc-menu-item,
        .mat-icon {
            color: $black !important;
        }
    }
}