$white: #fafafa;
$cards-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$cards-border: 1px solid rgba(255, 255, 255, 0.25);
$cards-border-radius: 16px;
$cards-backdrop-blur: blur(18px);
$cards-background: rgba(255, 255, 255, 0.35);
