@use 'variables' as *;
.login-form {
  p {
    color: $dark-gray-200;
    font-weight: 600;
  }
}

.login-form-text {
  color: $dark-gray-200;
  font-weight: 600;
  button {
    font-weight: 600;
  }
}

::ng-deep .mat-mdc-checkbox .mat-internal-form-field {
  color: $black !important;
  font-weight: 600 !important;
}

.options {
  margin-bottom: 2rem;
}


.curs-point {
  cursor: pointer !important;
}