<form [formGroup]="form" (ngSubmit)="login()" class="py-3">
  <div class="auth-titles">
    <h1 class="ms-0">Bienvenido</h1>
    <span>Por favor, ingresa tus datos</span>
  </div>

  <div class="login-form">
    <mat-form-field class="w-100 mb-3">
      <mat-label>Correo electrónico</mat-label>
      <input formControlName="email" matInput type="email" placeholder="ejemplo@dominio.com">
      @if (hasError('email', 'email')) {
      <mat-error>Por favor, ingresa un correo electrónico valido.</mat-error>
      } @else if (hasError('email', 'required')) {
      <mat-error>Por favor, ingresa un correo electrónico.</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-100 mb-3">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="password" placeholder="••••••••">
      @if (hasError('password', 'required')) {
      <mat-error>Por favor, ingresa un correo electrónico.</mat-error>
      }
    </mat-form-field>
    <div class="options login-form-text d-flex justify-content-between align-items-center">
      <mat-checkbox formControlName="rememberMe">Recordarme</mat-checkbox>
      <span class="underline-option">¿Olvidaste la contraseña?</span>
    </div>

    <button type="submit" [disabled]="!formValid() || loading()" matButton="filled" class="w-100 mb-4 py-4">
      @if (loading()) {
      <app-loading-icons [size]="LoadingIconsSize.Normal" [color]="LoadingColors.Black"></app-loading-icons>
      } @else {
      Iniciar sesión
      }
    </button>
    <p class="login-form-text text-center">¿Aún no tienes una cuenta? <button type="button" class="underline-option btn-custom-transparent"
        (click)="changeForm()">Regístrate</button></p>

  </div>
</form>