@use "variables" as *;

.register-form {
    p {
        color: $dark-gray-200;
        font-weight: 600;
    }
}

.register-form-text {
    color: $dark-gray-200;
    font-weight: 600;
}

::ng-deep .multi-line-tooltip {
  white-space: pre-line !important;
  text-align: justify !important;
}