@use '/animations/fade-slide-scale-in.animation' as *;
@use 'variables' as *;

.tax-data-card {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
}

.tax-data-stepper {
  flex: 1;
}

.form-label {
  color: $dark-gray-200;
  font-weight: 500;
}

.form-row {
  display: flex;
  gap: 12px;
  align-items: stretch;
  flex-wrap: wrap;
}

.form-field {
  flex: 1 1 260px;
  min-width: 200px;
}

.form-button {
  flex: 0 0 auto;
  white-space: nowrap;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.draft-status {
  color: $dark-gray-400;
  min-height: 25px;
  span {
    font-size: 14px;
  }
}


.discard-link {
  background: none;
  border: none;
  padding: 0;
  margin-left: 12px;
  font-size: 14px;
  color: #c62828; /* rojo suave */
  cursor: pointer;
  opacity: 0.8;
}

.discard-link:hover {
  opacity: 1;
  text-decoration: underline;
}